html {
    font-size: 20px;
}
body {
    max-width: 80vw;
    margin: auto;
    position: relative;
}

body>nav {
    position:sticky;
    top: 0;
    border-bottom: 4px black solid;
    background-color: darkred;
    height: 100px;
    width: 100%;
    text-align: center;
}

div.scene {
    padding-left: 30px;
    border: 2px solid black;
    margin:15px;}

div.act {
}

.speaker {
    padding-left:20px;
}

.line span {
    background-color: rgba(180,180,180, 0.5);

}

.notshown {
     color: rgb(180,180,180, 0.1);
}

.noun {
    color: rgb(140,90,90);
    font-weight: 700;
}
